In [7]:
#Que 1 : Answer 
#Example
#Adding All the element in List using For Loop
list1=[11,12,13,67,78,98,56]
Sum=0
for i in list1:
    Sum = Sum+i
Sum

335

In [12]:
#Example
#Adding All the element in List using While Loop
list2=[98,87,76,65,54,43,32]
Add=0
Counter=0
while Counter<=(len(list2)-1):
    Add = Add+list2[Counter]
    Counter=Counter+1
Add

455

In [17]:
#Que 2 : Answer
#Using For Loop

Sum=0
Product=1
for i in range(1,11):
    Sum=Sum+i
    Product=Product*i
print("Sum of 10 Natural Number is ",Sum)
print("Product of 10 Natural Number is ",Product)

Sum of 10 Natural Number is  55
Product of 10 Natural Number is  3628800

In [21]:
#using While Loop

Sum=0
Counter=1
Product=1
while Counter<=10:
    Sum=Sum+Counter
    Product=Product*Counter
    Counter=Counter+1

print("Sum of 10 Natural Number is ",Sum)
print("Product of 10 Natural Number is ",Product)

Sum of 10 Natural Number is  55
Product of 10 Natural Number is  3628800

In [28]:
#Que 3 : Answer

Unit=int(input("Total Unit Consume By Customer : "))
Unit1,Unit2,Unit3,Unit4=1,1,1,1
Charge=0
if Unit > 300:
    Unit1 = Unit-300
    Charge=Charge+(Unit1*20)
    Unit=Unit-Unit1
if Unit > 200 and Unit<=300 :
    Unit2 = Unit-200
    Charge=Charge+Unit2*10
    Unit=Unit-Unit2
if Unit > 100 and Unit<=200 :
    Unit3 = Unit-100
    Charge=Charge+Unit3*6
    Unit=Unit-Unit3
if Unit<=100 :
    Unit4 = Unit
    Charge=Charge+Unit4*4.5
    Unit=Unit-Unit4    
print("Total Bill : ", Charge)

Total Unit Consume By Customer :  310

Total Bill :  2250.0

In [20]:
#Que 4 : Answer
list1=[]
list2=[]

for i in range(1,101):
    list1.append(i)

for j in list1:
    if (j%4)==0 or (j%5)==0 :
        list2.append(j)

print(list2)

[4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96, 100]

In [22]:
#Que 5 : Answer

String="I want to become a data scientist"
String1=St
count=0
for i in String:
    if i=='e' or i == 'a' or i =='i' or i == 'o' or i=='u' :
        count=count+1
print(count)

11